.card-page {
  margin: auto;
  width: 375px;
  height: 667px;
  background: #0d0210;
  margin-top: 100px;
  color: white;
  padding: 20px 20px;
}

.meta {
  padding-top: 20px;
  text-align: center;
  width: 281px;
  height: 107px;
  background: #a6c288;
  border-radius: 6px;
  margin: auto;
  margin-bottom: 1rem;
}

.appointment {
  box-sizing: border-box;
  width: 281px;
  height: 111.9px;
  background: #c9b7c7;
  border: 2px solid #866a80;
  border-radius: 6px;
  text-align: center;
  margin: auto;
}
